body{
    margin: 0;
    background-color: black;
}
@media(min-width:700px){
    .main{
        text-align: center;
        height: 100vh;
        width: 100%;
        margin: 0;
        color: white;
        background-image: url(backgound.png);
        background-repeat: no-repeat;
        background-size: 100%;
    }
    .Team-logo{
        margin-top: 40vh;
        width: 15vh;
        opacity: 0;
        animation: title 3s 1 0.7s;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
    }
    .main h2{
        color: white;
        font-size: 2.5vh;
        opacity: 0;
        animation: title 3s 1 0.7s;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
    }
    @keyframes title {
        to{opacity: 1;}
        from{opacity:0;}
    }
    .submain{
        text-align: center;
        height: 100vh;
        width: 100%;
        margin: 0;
        color: white;
    }
    .textfield{
        padding-top: 15%;
        font-size: 2vh;
    }
    .supprt-button{
        margin-top: 10vh;
    }
    .button-text{
        border-radius: 3rem;
        font-size: 2vh;
        border: 1px solid white;
        text-decoration: none; 
        color: white;
        padding: 2vh;
        padding-left: 3vh;
        padding-right: 3vh;
        margin-top: 10vh;
        margin-left: 80vh;
        margin-right: 80vh;
        transition: 0.4s;
    }
    .button-text:hover{
        border-radius: 3rem;
        font-size: 2vh;
        background-color: #0e0e0e;
        border: 1px solid white;
        text-decoration: none; 
        color: white;
        padding: 2vh;
        padding-left: 5vh;
        padding-right: 5vh;
        margin-top: 10vh;
        margin-left: 80vh;
        margin-right: 80vh;
        transition: 0.4s;
    }

}
@media(max-width:699px){
    .main{
        text-align: center;
        height: 100vh;
        width: 100%;
        margin: 0;
        color: white;
        background-image: url(mbackgound.png);
        background-repeat: no-repeat;
        background-size: 100%;
    }
    .Team-logo{
        padding-top: 40vh;
        width: 10vh;
        opacity: 0;
        animation: title 3s 1 0.7s;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
    }
    .main h2{
        color: white;
        font-size: 2vh;
        opacity: 0;
        animation: title 3s 1 0.7s;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
    }
    @keyframes title {
        to{opacity: 1;}
        from{opacity:0;}
    }
    .submain{
        text-align: center;
        height: 100vh;
        width: 100%;
        margin: 0;
        color: white;
    }
    .textfield{
        padding-top: 60%;
        font-size: 1vh;
    }
    .textfield a{
        font-size: 0.5vh;
    }
    .supprt-button{
        margin-top: 5vh;
    }
    .button-text{
        border-radius: 3rem;
        font-size: 1vh;
        border: 1px solid white;
        text-decoration: none; 
        color: white;
        padding: 1.5vh;
        padding-left: 3vh;
        padding-right: 3vh;
        margin-top: 10vh;
        margin-left: 15vh;
        margin-right: 15vh;
    }
}
